* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(ptc.jpg);
    background-size: cover;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.logo {
    max-width: 90px;
    align-items: center;
    margin-top: -370px;
    z-index: 100;
}

.forgot {
    position: fixed;
    width: 450px;
    height: 360px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: #ffffffe4;
    border: 1px solid #ffffff66;
    box-shadow: 0 25px 45px #00000066;
    z-index: 10;
    overflow: hidden;
}

.forgot::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #ffffff0d;
    transform: skewX(-15deg);
    transition: 0.5s;
    pointer-events: none;
}

.forgot:hover::before {
    left: 120%;
}

.forgot h1 {
    color: #1b1b1b;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Input {
    position: relative;
    margin-bottom: 20px;
}

.Input input {
    width: 100%;
    padding: 20px 25px;
    background: #ffffff33;
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: #272727;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.Input input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.Input label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #272727;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.Input input:focus + label,
.Input input:valid + label {
    top: 0;
    left: 15px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.2);
    padding: 2px 8px;
    border-radius: 10px;
    color: #272727;
}

.forgot-btn {
    width: 100%;
    padding: 15px;
    background: #44be01d6;
    border-color: 2px solid #272727;
    outline: none;
    margin-top: 20px;
    border-radius: 35px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #0000001a;
}

.forgot-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #272727;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}