* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#256900f0, rgba(0, 0, 0, 0.907)), url(ptc.jpg);
    background-size: cover;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.Lost {
    position: fixed;
    width: 800px;
    max-height: 90vh;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.478);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}

.Lost::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    transform: skewX(-15deg);
    transition: 0.5s;
    pointer-events: none;
}

.Lost:hover::before {
    left: 120%;
}

.Lost h1 {
    color: #1b1b1b;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Input {
    position: relative;
    margin-bottom: 30px;
}

.Input input,
.Input textarea {
    width: 100%;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: #272727;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    resize: none;
}

.Input label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #272727;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    transition: all 0.3s ease;
    background: transparent;
    padding: 0 8px;
    border-radius: 10px;
}

.Input input:focus + label,
.Input input.filled + label,
.Input textarea:focus + label,
.Input textarea.filled + label {
    top: 0;
    left: 15px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.2);
    color: #272727;
}

.Date {
    position: relative;
    margin-bottom: 30px;
}

.Date input,
.Date select:focus,
.Date textarea {
    width: 100%;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: #272727;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    resize: none;
}

.Date label {
    position: absolute;
    top: 50%;
    left: 310px;
    font-weight: bold;
    transform: translateY(-50%);
    color: #272727;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
    background: transparent;
    padding: 0 8px;
    border-radius: 10px;
}

.Date input:focus + label,
.Date input.filled + label,
.Date select:focus + label,
.Date select.filled + label,
.Date textarea:focus + label,
.Date textarea.filled + label {
    top: 0;
    left: 15px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.2);
    color: #272727;
}

.Upload label {
    margin-top: 500px;
    margin-right: 500px;
    font-weight: bold;
}

.Submit-btn {
    width: 49%;
    margin-top: 20px;
    padding: 15px;
    background: #003300;
    border-color: 2px solid #272727;
    outline: none;
    border-radius: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #0000001a;
}

.Submit-btn:hover {
    background: #cccccc;
    color: #000000;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.back-btn {
    width: 49%;
    margin-top: 20px;
    padding: 15px;
    background: #9b9b9b;
    border-color: 2px solid #272727;
    outline: none;
    border-radius: 35px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #0000001a;
}

.back-btn:hover {
    background: #00c200;
    color: #000000;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin-top: 1px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(244, 244, 244, 0.696);
    border: 2px solid #272727;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    max-width: 400px;
    text-align: center;
    font-weight: bold;
}

.popup button {
    width: 50%;
    margin-top: 25px;
    padding: 15px;
    background: #cccccc;
    border-color: 2px solid #272727;
    outline: none;
    border-radius: 35px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #0000001a;
}

.popup button:hover {
    background: #003300;
    color: #ffff;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.popup.hidden {
    display: none;
}

#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    display: none;
}

#popupOverlay.hidden {
    display: none;
}

.success-message {
    margin-top: 15px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .Lost {
        max-width: 400px;
    }
    .Date label {
        top: 50%;
        left: 120px;
    }
    .button-container {
        flex-direction: column;
    }
    .Submit-btn,
    .back-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}